<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header class="ads-header">
      <h1><%= __('Welcome to')%> <%= title %></h1>
    </header>

    <div class="ads-locale"><% getLocales().forEach(locale => { %>
      <a href="/change-locale/<%= locale %>">|<%= locale.toUpperCase() %>|</a>
    <% }) %> </div>
    <main class="ads-grid">
      <div class="ads-title-grid">
        <%= __('Name')%>
      </div> 
      <div class="ads-title-grid">
        <%= __('Sale')%>
      </div>
      <div class="ads-title-grid">
        <%= __('Photo')%> 
      </div>
      <div class="ads-title-grid">
        <%= __('Price')%>
      </div>
      <div class="ads-title-grid">
        <%= __('Tags')%>  
      </div>
      <% ads.forEach( ad => { %>
        <div class="ads-item">
           <%= ad.name %>
        </div> 
        <div class="ads-item">
          <%= ad.sale %>
        </div>
        <div class="ads-image">
          <img  src= "<%= ad.photo %>" " alt="">
        </div>
        <div class="ads-item">
          <%= ad.price %>
        </div>
        <div class="ads-item">
           <%= ad.tags.join(' / ') %>  
        </div>
        
      <% }) %>
    </main>

    <footer></footer>
  </body>

</html>
